body {
    font-size: 48px;
    height: 100%;
    width: 100%;
    margin: 0%;
}


/* Loading screen */
#load-screen {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    z-index: 3;
    opacity: 0.9;
}

@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

#load-screen > #spinner {
    position: absolute;
    content: "";
    animation: spin 1.5s linear infinite;
    border-style: solid;
    border-radius: 50%;
    border-color: rgb(110, 85, 255) transparent rgb(238, 171, 95) transparent;
}


/* Top banner with buttons */
#banner_top {
    position: fixed;
    top: 0%;
    width: 100%;
    font-size: 2.2vmax;
    padding: 1.8vmin;
    background-color: black;
    z-index: 2;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    /* opacity is in functions.js */
}

.banner_top_button {
    margin-right: 2%;
    color: white;
    text-decoration: none; /*No links decoration*/
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
}

.banner_top_button:hover {
    background-color: gray;
    color: black;
}


/* Left fixed buttons */
.left_button{
    position: fixed;
    z-index: 2;
    margin-left: 1%;
    font-size: 6vmin;
    top: 10%; /* defined in-line style in HTML */
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-25%);
    }
    80% {
        transform: translateY(-8%);
    }
}
.left_button:hover{
    animation: bounce 0.7s;
}

.fa {
    color: black;
    opacity: 0.6;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
}

.fa:hover {
    opacity: 1;
}

.fa-envelope:hover{
    color: gold;
}

.fa-linkedin:hover{
    color: #2777B4;
}

.fa-phone:hover{
    color: #56CD90;
}

.fa-github:hover{
    color: greenyellow;
}


/* Sections */
section {
    height: 100%;
    width: 100%;
    position: relative;
}

@keyframes background_gradient { 
    0%{background-position: 0% 81%}
    50%{background-position: 100% 20%}
    100%{background-position: 0% 81%}
}

#Home {
    background: linear-gradient(150deg, #2f8770, #355d9f, #ff884d);
    background-size: 600%;
    animation: background_gradient 21s ease-in-out infinite;
}

#Timeline {
    background: gray;
}

#Map {
    background: gray;
}

#Skills {
  background: #5d6675;
}

#Projects {
    background: linear-gradient(150deg, #bcffed, #b1cfff, #ffd6c2);
    background-size: 500%;
    animation: background_gradient 21s ease-in-out infinite;
}

#Courses {
    background: linear-gradient(70deg, #ff9797, #f0d7bb, #bfb9ff);
    background-size: 800%;
    animation: background_gradient 21s ease infinite;
}

#OthersSection {
    color: white;
    background: linear-gradient(70deg, #1a3156, #424a56, #061d3f);
    background-size:800%;
    animation: background_gradient 5s ease infinite;
}

/* Home section */
#Home > #center_container {
    position: absolute;
    top: 12%;
    width: 100%;
    z-index: 1;
    text-align: center;
}

#Home > #center_container > #center_name {
    color: white;
    text-decoration: none;
    font-size: 4vmax;
    font-weight: bold;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
}

#Home > #center_container > #center_name:hover {
    font-size: 4.5vmax;
}

#Home > #center_container > #center_download {
    color: white;
    text-decoration: none;
    font-size: 2.5vmax;
    opacity: 0.6;
    /* Check JS for hover animation */
}

#Home > #tag-cloud {
    position: absolute;
}


/* Skills section */
#Skills > #particles {
    position: absolute;
    width: 100%;
    height: 100%;
}

#Skills > .skillbox{
    position: absolute;
    height: 25%;
    width: 28%;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    text-align: center;
    border: 2px solid #52527a;
    background-color: #29293d;
    opacity: 0.5;
    color: white;
    font-size: 3.5vw;
    transition: all 1s, font-size 0.3s;
    -webkit-transition: all 1s, font-size 0.3s ease;
    -moz-transition: all 1s, font-size 0.3s ease;
    -o-transition: all 1s, font-size 0.3s ease;
    -ms-transition: all 1s, font-size 0.3s ease;
}
#Skills > .skillbox:hover{
    border-radius: 10%;
    border-color:#b3b3cc;
    background-color:#52527a;
    opacity: 0.7;
    font-size: 1.5vw;
}


/* Projects section (desktop version, see startup_late.js for mobile) */
#Projects > #github-feed {
    position: absolute;
    width: 25%;
    height: 80%;
    left: 7%;
    top: 10%;
}

#Projects > #slides {
    position: absolute;
    width: 57%;
    height: 80%;
    right: 5%;
    top: 10%;
}
#Projects > #slides > .button {
    position: absolute;
    z-index: 1;
    top: 30%;
    font-size: 3vmax;
    color: rgb(60, 93, 95);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}
#Projects > #slides > .button:hover {
    color: rgb(85, 55, 190);
}
#Projects > #slides > .button:active {
    color: rgb(55, 190, 84);
}
#Projects > #slides > #previous {
    left: 0;
}

#Projects > #slides > #next {
    right: 0;
}
#Projects > #slides > #dots {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
}
#Projects > #slides > #dots > .dot {
    background: "transparent";
    z-index: 1;
    width: 0.8vmax;
    height: 0.8vmax;
    margin-right: 1.5vmax;
    border: 0.2vmax solid rgb(83, 83, 83);
    border-radius: 50%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
}


#Projects > #slides > .slide {
    position: absolute;
    width: 100%;
    height: 100%;
}
#Projects > #slides > .slide > .title {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 2%;
    font-size: 2.6vmax;
    font-weight: bold;
    z-index: 1;
}
#Projects > #slides > .slide > .tags {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}
#Projects > #slides > .slide > .tags > .tag {
    display: inline-block;
    font-size: 1.2vmax;
    padding-right: 0.7vmax;
}
#Projects > #slides > .slide > .imageContainer {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    max-height: 60%;
    margin-left: 10%;
}
#Projects > #slides > .slide > .imageContainer > .image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#Projects > #slides > .slide > .description {
    float: right;
    width: 32%;
    height: 60%;
    margin-right: 7%;
    font-size: 1.1vmax;
}

#Projects > #slides > .slide > .link {
    margin-top: 2%;
    margin-left: 15%;
    font-size: 1.4vmax;
}
#Projects > #slides a {
    text-decoration: none;
    color: black;
    transition: all 1s, font-size 1s;
    -webkit-transition: all 1s, font-size 1s ease;
    -moz-transition: all 1s, font-size 1s ease;
    -o-transition: all 1s, font-size 1s ease;
    -ms-transition: all 1s, font-size 1s ease;
}
#Projects > #slides a:hover, a:active, a:focus {
    color: rgb(22, 115, 255);
}



/* Courses section */
ul {
  list-style-type: none;
  margin: 0;
  margin-top:6%;
  padding: 0;
}
ul[title]::before {
    content: attr(title);
    display: block;
    font: 83%/1.5 Helvetica, Verdana, sans-serif;
    font-size:3.5vmin;
    margin: 0;
    padding: 0;
}

li {
  font: 41%/1.5 Helvetica, Verdana, sans-serif;
  font-size:1.9vmin;
  border-bottom: 2px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: font-size 0.5s ease, background-color 1s ease;
  -moz-transition: font-size 0.5s ease, background-color 1s ease;
  -o-transition: font-size 0.5s ease, background-color 1s ease;
  -ms-transition: font-size 0.5s ease, background-color 1s ease;
  transition: font-size 0.5s ease, background-color 1s ease;
  display: block;
  
}

li a:hover {
  font-size: 140%;
  background-color: rgba(175, 255, 212, 0.35);
}


/* Others section */
.youtubeiframe{
    position:absolute;
    left:5%; /* to change for some */
    top:8%; /* to change for some */
    width: 35%;
    height: 35%;
    opacity:0.6;
    transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
}
.youtubeiframe:hover{
    opacity:1.0;
}