/* Top banner style */
.banner_top {
    position:fixed; /*so that it follows when you scroll*/
	top:0%;
    width:100%;
    font-size:2.5vmax;
	padding:1.7vmin;
	background-color:black;
	z-index:1; /*on top of other layers*/
	transition:all 0.4s;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    -ms-transition:all 0.4s;
    /*opacity is in functions.js*/
}
.banner_top_button{
    margin-right:2%;
    color:white;
    text-decoration:none; /*No links decoration*/
}
.banner_top_button:hover {
	transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
	background-color:gray;
    color:black;
}

/* Left buttons style */
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-15px);
	}
	80% {
		transform: translateY(-7px);
	}
}
.left_button{
    position:fixed; /*so that it follows when you scroll*/
	top:10%; /*to change for vertical positioning*/
    z-index:1; /*on top of other layers*/
    width:auto;
	margin-left:0.5%;
    font-size:2.75vh;
    color:black;
    text-decoration:none; /*No links decoration*/
}
.left_button:hover{
    animation: bounce 0.7s;
}
.fa-envelope{
    color:black;
    opacity:0.6;
	transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
}
.fa-envelope:hover{
    color:gold;
    opacity:1;
}
.fa-linkedin{
    color:black;
    opacity:0.6;
	transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
}
.fa-linkedin:hover{
    color:#2777B4;
    opacity:1;
}
.fa-phone{
    color:#F6285E;
    opacity:0.6;
	transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
}
.fa-phone:hover{
    color:#56CD90;
    opacity:1;
}
.fa-github{
    color:black;
    opacity:0.6;
	transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
}
.fa-github:hover{
    color:orange;
    opacity:1;
}

/*Overwrites what a section size is (full screen)*/
section {
    height:100%;
    width:100%;
    background-size:cover;
}

/* Background gradient animation (see https://www.gradient-animator.com/) */
@keyframes background_animation { 
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
#Home {
    /*Gradient animated background*/
    background: linear-gradient(150deg, #2f8770, #355d9f, #ff884d);
    background-size:600%;
    animation: background_animation 21s ease-in-out infinite;
}
#Timeline {
	background: gray;
}
#Map {
	background: gray;
}
#Skills {
  background: #5d6675;
  background-size:100%;
}
#Projects {
    background: linear-gradient(70deg, #eff3f9, #c5e7f9, #b6c8ef);
    background-size:800%;
    animation: background_animation 14s ease infinite;
}
#Courses {
    background: linear-gradient(70deg, #8298bc, #708ebf, #756fbf);
    background-size:800%;
    animation: background_animation 21s ease infinite;
}

.fullcontainer{
	width: 100%;
    height: 100%;
    position: relative;
}

/* Home page style */
.center_container {
    position:absolute;
    top:15%;
    width:100%;
    text-align:center;
}
.center_name { /*Class used for center name on Home*/
    color:white;
    text-decoration:none; /*No links decoration*/
	font-size:4vmax;
    font-weight:bold;
	transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
}
.center_name:hover { /*Class used for center name on Home*/
    font-size:5vmax;
}
.center_download{ /*Class used for center Download resume on Home*/
    color:white;
    text-decoration:none; /*No links decoration*/
	font-size:2.5vmax;
	opacity:0.6;
}

/* Skills */
#particles {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	z-index: 0;
}
.skillbox{
    position: absolute;
	z-index: 0;
	height: 25%;
    width: 28%;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	text-align: center;
	border: 2px solid;
	border-color: #52527a;
	background-color:#29293d;
	opacity: 0.5;
	color:white; /* text color */
	font-size: 4.7vw;
	transition:all 0.3s;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    -ms-transition:all 0.3s;
}
.skillbox:hover{
	border-radius: 10%;
	border-color:#b3b3cc;
	background-color:#52527a;
	opacity: 0.7;
	font-size: 2.7vmin;
}
.projectboxiframe{
	position:absolute;
	left:5%;
	top:8%; /* to change for some */
	width: 30%;
	height: 20%;
	opacity:0.5;
	transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
}
.projectboxiframe:hover{
	width: 90%;
	height: 50%;
	left:5%;
	opacity:1.0;
	z-index:1;
}
.projectboxgif{
	position:absolute;
	opacity:0.6;
	border:2px solid;
	border-radius:2%;
	border-color:#7aadff;
	transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
}
.projectboxgif:hover{
	opacity:1.0;
}
.projectbox{
	position:absolute;
	width: 30%;
	height: 20%;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	text-align: center;
	border:2px solid;
	border-radius:2%;
	border-color:white;
    background-image: -ms-linear-gradient(top, #BE4DFF 0%, #3679FF 100%);
    background-image: -moz-linear-gradient(top, #BE4DFF 0%, #3679FF 100%);
    background-image: -o-linear-gradient(top, #BE4DFF 0%, #3679FF 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BE4DFF), color-stop(100, #3679FF));
    background-image: -webkit-linear-gradient(top, #BE4DFF 0%, #3679FF 100%);
    background-image: linear-gradient(to bottom, #BE4DFF 0%, #3679FF 100%);
	color:white;
	font-size:2vw;
    font-weight:bold;
	opacity:0.5;
	transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
}
.projectbox:hover{
	opacity:1.0;
	border-radius:50%;
	border-color:black;
}
ul {
  list-style-type: none;
  margin: 0;
  margin-top:6%;
  padding: 0;
}
ul[title]::before {
    content: attr(title);
    display: block;
	font: 83%/1.5 Helvetica, Verdana, sans-serif;
	font-size:3.5vmin;
	margin: 0;
	padding: 0;
}

li {
  font: 41%/1.5 Helvetica, Verdana, sans-serif;
  font-size:1.9vmin;
  border-bottom: 2px solid #ccc;
}

li:last-child {
  border: none;
}

li a {
  text-decoration: none;
  color: #000;
  -webkit-transition: font-size 0.5s ease, background-color 1s ease;
  -moz-transition: font-size 0.5s ease, background-color 1s ease;
  -o-transition: font-size 0.5s ease, background-color 1s ease;
  -ms-transition: font-size 0.5s ease, background-color 1s ease;
  transition: font-size 0.5s ease, background-color 1s ease;
  display: block;
  
}

li a:hover {
  font-size: 140%;
  background-color: rgba(175, 255, 212, 0.35);
}

body {
	font-size: 48px;
	height: 100%;
	width: 100%;
	margin: 0%;
}