
/* Top banner style */
.banner_top {
    position:fixed; /*so that it follows when you scroll*/
	top:0%;
    width:100%;
    font-size:70%;
	padding:1%;
	background-color:black;
	z-index:1; /*on top of other layers*/
	transition:all 0.4s;
    /*opacity is in functions.js*/
}
.banner_top_button{
    margin-right:2%;
    color:white;
    text-decoration:none; /*No links decoration*/
}
.banner_top_button:hover {
    transition:all 0.8s;
	background-color:gray;
    color:black;
}

/* Left buttons style */
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-15px);
	}
	80% {
		transform: translateY(-7px);
	}
}
.left_button{
    position:fixed; /*so that it follows when you scroll*/
	top:10%; /*to change for vertical positioning*/
    z-index:1; /*on top of other layers*/
    width:auto;
    margin-top:10%;
    font-size:50%;
    color:black;
    text-decoration:none; /*No links decoration*/
}
.left_button:hover{
    animation: bounce 0.7s;
}
.fa-envelope{
    color:black;
    opacity:0.6;
    transition:all 0.8s;
}
.fa-envelope:hover{
    color:gold;
    opacity:1;
}
.fa-linkedin{
    color:black;
    opacity:0.6;
    transition:all 0.8s;
}
.fa-linkedin:hover{
    color:#2777B4;
    opacity:1;
}
.fa-phone{
    color:#F6285E;
    opacity:0.6;
    transition:all 0.8s;
}
.fa-phone:hover{
    color:#56CD90;
    opacity:1;
}

/*Overwrites what a section size is (full screen)*/
section {
    height:100%;
    width:100%;
    background-size:cover;
}

/* Background gradient animation (see https://www.gradient-animator.com/) */
@keyframes background_animation { 
    0%{background-position:0% 81%}
    50%{background-position:100% 20%}
    100%{background-position:0% 81%}
}
#Home {
    /*Gradient animated background*/
    background: linear-gradient(150deg, #2f8770, #355d9f, #ff884d);
    background-size:600%;
    animation: background_animation 21s ease-in-out infinite;
}
#Timeline {
	background: gray;
}
#Map {
	background: gray;
}
#Skills {
  background: #5d6675;
  background-size:100%;
}
#Projects {
    background: linear-gradient(70deg, #8298bc, #708ebf, #756fbf);
    background-size:800%;
    animation: background_animation 15s ease infinite;
}
#Other {
    background: linear-gradient(70deg, #8298bc, #708ebf, #756fbf);
    background-size:800%;
    animation: background_animation 21s ease infinite;
}

/* Home page style */
.center_container {
    position:absolute;
    top:15%;
    width:100%;
    text-align:center;
}
.center_name { /*Class used for center name on Home*/
    color:white;
    text-decoration:none; /*No links decoration*/
	font-size:150%;
    font-weight:bold;
    transition:all 0.8s;
}
.center_name:hover { /*Class used for center name on Home*/
    font-size:160%;
}
.center_download{ /*Class used for center Download resume on Home*/
    color:white;
    text-decoration:none; /*No links decoration*/
	font-size:70%;
	opacity:0.6;
}

/* Particles */
#container_particles {
	width: 100%;
    height: 100%;
    position: relative;
}
#particles {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	z-index: 0;
}


.skillbox{
    position: absolute;
	z-index: 0;
	height: 25%;
    width: 28%;
	border: 2px solid;
	border-color: #52527a;
	background-color:#29293d;
	opacity: 0.5;
	display: flex;
	transition: all 0.3s;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	text-align: center;
	color:white; /* text color */
	font-size: 60px;
}
.skillbox:hover{
	border-radius: 10%;
	border-color:#b3b3cc;
	background-color:#52527a;
	opacity: 0.7;
	font-size: 30px;
}

body {
	font-size: 48px;
	height: 100%;
	width: 100%;
	margin: 0%;
}